apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: hoseki7/backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: APP_PORT
            - name: DATABASE_URL
              value: mysql://root:honeydrip1714@mysql.ecommerce.svc.cluster.local:3306/hosekishops
          resources:
            requests:
              cpu: "100m"
            limits:
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 10
