name: CI Build Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend-hosekishops:${{ github.sha }} ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/backend-hosekishops:${{ github.sha }}

      - name: Build & Push Frontend Store
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend-store-hosekishops:${{ github.sha }} ./frontend-store
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend-store-hosekishops:${{ github.sha }}

      - name: Build & Push Frontend Admin
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend-admin-hosekishops:${{ github.sha }} ./frontend-admin
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend-admin-hosekishops:${{ github.sha }}
