name: CI Build Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend-hosekishops:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/backend-hosekishops:latest

      - name: Build & Push Frontend Store
        run: |
          docker build \
            --build-arg VITE_API_URL=http://backend:5000 \
            -t ${{ secrets.DOCKER_USERNAME }}/frontend-store-hosekishops:latest \
            ./frontend-store
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend-store-hosekishops:latest


      - name: Build & Push Frontend Admin
        run: |
          docker build \
            --build-arg VITE_API_URL=http://backend:5000 \
            -t ${{ secrets.DOCKER_USERNAME }}/frontend-admin-hosekishops:latest \
            ./frontend-admin
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend-admin-hosekishops:latest