name: Frontend Admin CI

on:
  push:
    branches: ["master"]
    paths:
      - "frontend-admin/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hosekishops-frontend-admin:1.1 ./frontend-admin
          docker push ${{ secrets.DOCKER_USERNAME }}/hosekishops-frontend-admin:1.1
